name: Build
on: [push, pull_request]

jobs:
  windows:
    strategy:
      matrix:
        configuration: [Debug, Release]

    name: Windows
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0
    
    - name: Restore dependencies
      run: dotnet restore
    
    - name: Build
      run: dotnet build --no-restore
    
    - name: Publish
      run: dotnet publish --no-self-contained -c ${{ matrix.configuration }} -r win-x64
    
    - name: Upload
      uses: actions/upload-artifact@v3
      with:
        name: Kiseki.Launcher.Windows (${{ matrix.configuration }})
        path: .\Kiseki.Launcher.Windows\bin\${{ matrix.configuration }}\net7.0-windows\win-x64\publish\*